@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  color: #333; /* Cor neutra para texto */
  background-color: #fff; /* Fundo branco neutro */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}