/* dashboard.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/background-dashboard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}