.botao{
    padding: 10px 20px;
    background-color: #FCBF2B;
    border: none;
    border-radius: 5px;
    width: 328px;
    height: 39px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-weight: 800;
    color: #11304C;
    cursor: pointer;
}