

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-size: 16px;
}

.login-input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    /* Espaço extra à esquerda para o ícone */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-input:focus {
    outline: none;
    border-color: #4285f4;
}
.linkforgetpassword {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  & a {
    color: #fff;
    text-decoration: none;
  }
  /* Botão */
.login-button {
  margin-top: 10px;
  padding: 12px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover:not(:disabled) {
  background-color: #3367d6;
}

.login-button:disabled {
  background-color: #a0c1f7;
  cursor: not-allowed;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center; /* <-- Isso centraliza tudo dentro horizontalmente */
}
.login-button {
  width: 100%; /* ou use max-width: 300px; se quiser limitar */
}

}
